{% extends 'base.html' %}

{% block grafico %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Ano", "QTD", { role: "style" } ],
        ['{{ anos.ano1 }}', {{ qtdes.qtd1 }}, "#b87333"],
        ['{{ anos.ano2 }}', {{ qtdes.qtd2 }}, "silver"],
        ['{{ anos.ano3 }}', {{ qtdes.qtd3 }}, "gold"],
        ['{{ anos.ano4 }}', {{ qtdes.qtd4 }}, "color: green"],
        ['{{ anos.ano5 }}', {{ qtdes.qtd5 }}, "color: #0066ff"],
        
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Total de Atendimentos nos últimos 5 anos",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("corpo2"));
      chart.draw(view, options);
  }
  </script>

{% endblock%}

{% block content %}

<div id="corpo2">

</div>

{% endblock%}